{% extends "layout.html" %}

{% block body %}

    <form action="/filter" method="get">
        <input class="sWord" name="sWord" type="text" > 
        <button type="reset">Clear</button>
    </form>
    <br>  
    <div class="list-of-words">
        {% for word in words %}
            <span>{{ word.word }} </span>
        {% endfor %}
    </div>

    {# Asynchronous search of the words #}
    <script>
        let input = document.querySelector("input");
        input.addEventListener("input", async () =>
        {
            let response = await fetch("/filter?sWord=" + input.value.replaceAll(" ", "_"));
            let words = await response.text();
            document.querySelector(".list-of-words").innerHTML = words; 
        });
    </script>

{% endblock body %}