{% extends "layout.html" %}

{% block body %}
    <div class="wrapper">
        <h1>Gartic Finder</h1>
        <form action="/filter" method="get">
            <input autofocus autocomplete="off" class="sWord" name="sWord" type="text" > 
            <button type="reset">Clear</button>
        </form>
        <br>  
        <div class="list-of-words">
            {% for word in words %}
                <span>{{ word.word }} </span>
            {% endfor %}
        </div>
    </div>
    {# Asynchronous search of the words #}
    <script>
        let input = document.querySelector("input");
        input.addEventListener("input", async () =>
        {
            let response = await fetch("/filter?sWord=" + input.value.replaceAll(" ", "_"));
            let words = await response.text();
            document.querySelector(".list-of-words").innerHTML = words; 
        });
    </script>

{% endblock body %}